<!-- Chassis Controller-->
    <gazebo>
      <plugin name='gazebo_ros_deepracer_drive' filename='libgazebo_ros_deepracer_drive.so'>
        
        <update_rate>15.0</update_rate>

        <!-- Max absolute steer angle for tyre in radians-->
        <!-- Any cmd_vel angular z greater than this would be capped -->
        <max_steer>0.523599</max_steer>

        <!-- Max absolute linear speed in m/s -->
        <max_speed>4</max_speed> 
        
        <!-- Radius of rear wheels, in meters -->
        <wheel_radius>0.03</wheel_radius>
        <!-- Distance between front and rear axles, in meters -->
        <wheel_base>0.164023</wheel_base>
        <!-- Distance between the wheels, in meters -->
        <wheel_separation>0.159202</wheel_separation>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>

        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>

      </plugin>
  </gazebo>
    
  <ros2_control name="racecar" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="left_rear_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_rear_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_front_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_front_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_steering_hinge_joint">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
    </joint>

    <joint name="right_steering_hinge_joint">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find pkg)/config/agent_control.yaml</parameters>
    </plugin>
  </gazebo>
