<?xml version="1.0"?>
<launch>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pkg)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pkg)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find pkg)/param/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find pkg)/param/move_base_params.yaml" command="load" />
    
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <!--<param name="controller_frequency" value="10" />
    <param name="controller_patiente" value="15.0"/>-->
   </node>


   	<node name="map_server" pkg="map_server" type="map_server" args="$(find pkg)/map/map_5.yaml" output="screen">
                <param name="frame_id" value="map"/>
    </node>

    <node pkg="tf" type="static_transform_publisher"
        name="odom_to_map"
        args="0 0 0 0 0 0 1  /odom /map 100" />

    <!--<include file="$(find bringup)/launch/robot_amcl.launch.xml" />-->

   <node name="nav_sim" pkg="pkg" type="nav_sim.py" />
   </launch> 
