<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find pkg)/worlds/empty_world.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <node name="track_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find pkg)/urdf/track42.urdf -urdf -model track -x 0 -y 0 -z 0"  />


    <!-- 加载机器人模型描述参数 -->
    <group ns="deepracer1">
    <param name="robot_description" command="$(find xacro)/xacro '$(find pkg)/urdf/deepracer.xacro' bodyframe:=deepracer1 ns:=deepracer1"/> 
    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
         <param name="publish_frequency" type="double" value="30.0" />
         <param name="tf_prefix" value="deepracer1" />
	</node>
	 
    	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model deepracer1 -param robot_description -y -0.2 -x 1.87 -z 0.00 -Y 1.5708"/>   
    	 <!-- 从yaml文件加载联合控制器的参数 -->
	<rosparam file="$(find pkg)/config/ctrl.yaml" command="load"/>
	
	<!-- 加载控制器 spawner -->
	
	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen"  
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>


      <node pkg="pkg" type="servo_commands.py" name="servo_commands" output="screen" >
	  <param name="robot_name" value="deepracer1"/>
	  </node>



    </group>
    
    <group ns="deepracer2">
    <param name="robot_description" command="$(find xacro)/xacro '$(find pkg)/urdf/deepracer.xacro' bodyframe:=deepracer2  ns:=deepracer2"/> 
    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    	</node> 
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
         <param name="publish_frequency" type="double" value="30.0" />
         <param name="tf_prefix" value="deepracer2" />
	</node>
    	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model deepracer2 -param robot_description -y -0.7 -x 1.87 -z 0.00 -Y 1.5708"/>   
    <!-- 从yaml文件加载联合控制器的参数 -->
	<rosparam file="$(find pkg)/config/ctrl.yaml" command="load"/>
	
	<!-- 加载控制器 spawner -->
	
	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen"   
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>


      <node pkg="pkg" type="servo_commands.py" name="servo_commands" output="screen" >
      <param name="robot_name" value="deepracer2"/>
	</node>
    </group>
    

    <group ns="deepracer3">
    <param name="robot_description" command="$(find xacro)/xacro '$(find pkg)/urdf/deepracer.xacro' bodyframe:=deepracer3 ns:=deepracer3"/> 
    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    	</node> 
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
         <param name="publish_frequency" type="double" value="30.0" />
         <param name="tf_prefix" value="deepracer3" />
	</node>
    	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model deepracer3 -param robot_description -y -1.2 -x 1.87 -z 0.0 -Y 1.5708"/>   

	<rosparam file="$(find pkg)/config/ctrl.yaml" command="load"/>
	

	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen" 
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>


      <node pkg="pkg" type="servo_commands.py" name="servo_commands" output="screen" >
	  <param name="robot_name" value="deepracer3"/>
	  </node>

    </group>
    
    <group ns="deepracer4">
    <param name="robot_description" command="$(find xacro)/xacro '$(find pkg)/urdf/deepracer.xacro' bodyframe:=deepracer4 ns:=deepracer4"/> 
    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    	</node> 
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
         <param name="publish_frequency" type="double" value="30.0" />
         <param name="tf_prefix" value="deepracer4" />
	</node>
    	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model deepracer4 -param robot_description -y -1.7 -x 1.87 -z 0.00 -Y 1.5708"/>   

	<rosparam file="$(find pkg)/config/ctrl.yaml" command="load"/>
	

	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen" 
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>


      <node pkg="pkg" type="servo_commands.py" name="servo_commands" output="screen" >
	  <param name="robot_name" value="deepracer4"/>
	  </node>

    </group>
    
    <group ns="deepracer5">
    <param name="robot_description" command="$(find xacro)/xacro '$(find pkg)/urdf/deepracer.xacro' bodyframe:=deepracer5 ns:=deepracer5"/> 
    	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    	</node> 
   	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
         <param name="publish_frequency" type="double" value="30.0" />
         <param name="tf_prefix" value="deepracer5" />
	</node>
    	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model deepracer5 -param robot_description -y -2.2 -x 1.87 -z 0.00 -Y 1.5708"/>   
    

	<rosparam file="$(find pkg)/config/ctrl.yaml" command="load"/>
	
	
	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen" 
	      args="left_rear_wheel_velocity_controller       right_rear_wheel_velocity_controller
	            left_front_wheel_velocity_controller      right_front_wheel_velocity_controller
	            left_steering_hinge_position_controller   right_steering_hinge_position_controller
	            joint_state_controller"/>


    <node pkg="pkg" type="servo_commands.py" name="servo_commands" output="screen" >
	  <param name="robot_name" value="deepracer5"/>
	  </node>
	  </group>
	  
</launch>
   
