<?xml version="1.0" encoding="utf-8"?>
<launch>
 <!-- We resume the logic in pkg package empty_world.launch, -->
  <!-- changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pkg)/worlds/empty.world"/>
   
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

  </include>
            
    <!-- Spawn deepracer robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find pkg)/urdf/deepracer.urdf -urdf -model deepracer" />

</launch>
