<?xml version="1.0"?>
<!-- This xacro describes a Delphi ESR 2.5 -->
<!--
Parameters for the radar plugin:
radarName - "ESRFront", "ESRLeft", "ESRRight"
topic - "/esr_front_obstacles", "/esr_left_obstacles", "/esr_right_obstacles"
velTopic - Velocity topic of parent vehicle (test_car or bus)
samples - (samples)^2 is the number of points that will be ray-traced for occlusion of an object
occlusion - Percentage of occlusion to allow before not publishing object (0 to 1)
noise - Parameters for noise model
All other specifications of ESR must be left to default values
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ARS_408_21_3">
    <!-- When including this xacro, specify origin for the sensor, parent, and the correct name for the radar -->
    <xacro:macro name="ARS_408_21_3" params="*origin parent:=base_link name:=ESRFront radarTopic:=radar_obstacles velTopic:=/sim_car/vel_of_car occlusion:=0.6 noiseDev:=0.05 samplePoints:=20">

        <!-- model of radar -->
        <joint name="${name}" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}_link"/>
            <axis xyz="0 0 0" />
        </joint>
        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 3.14159265358979 1.5707963267949"/>
                <geometry>
                    <mesh filename="package://site_model/meshes/ARS_408_21_3_Link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="1.5707963267949 1.5707963267949 0"/>
                <geometry>
                    <mesh filename="package://site_model/meshes/ARS_408_21_3_Link.STL" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0.00168514324992164 0.0154191890257049 -2.61569096045022E-05" rpy="0 0 0" />
                <mass value="3.09545763589521"/>
                <inertia
                    ixx="0.00233952324153942"
                    ixy="6.43560712854057E-06"
                    ixz="5.7678092833293E-06"
                    iyy="0.00726270749670218"
                    iyz="-1.06274664763526E-06"
                    izz="0.00541858260532214"/>
            </inertial>
        </link>

        <!-- radar plugin -->
        <gazebo reference="${name}_link">
            <material>Gazebo/Black</material>
            <!-- Logical camera for the radar's mid-range -->
			<sensor name="${name}_mid_logical_camera" type="logical_camera">
                <logical_camera>
                    <near>1.0</near>
                    <far>60.0</far>
                    <horizontal_fov>1.5708</horizontal_fov>
                    <aspect_ratio>19</aspect_ratio>
                </logical_camera>
                <always_on>true</always_on>
                <visualize>false</visualize>
                <update_rate>20</update_rate>
            </sensor>
            <!-- Logical camera for the radar's long-range -->
			<sensor name="${name}_long_logical_camera" type="logical_camera">
                <logical_camera>
                    <near>1.0</near>
                    <far>174.0</far>
                    <horizontal_fov>0.349</horizontal_fov>
                    <aspect_ratio>4.212</aspect_ratio>
                </logical_camera>
                <always_on>true</always_on>
                <visualize>false</visualize>
                <update_rate>20</update_rate>
            </sensor>
        </gazebo>
        <!-- Gazebo plugin for the radar's functionality -->
        <gazebo>             
            <plugin name="radar_plugin" filename="libradar_plugin.so">
                <radarName>${name}</radarName>
                <topic>${radarTopic}</topic>
                <velTopic>${velTopic}</velTopic>
                <near>1.0</near>
                <far_mid>60.0</far_mid>
                <far_long>174.0</far_long>
                <hfov_mid>1.5708</hfov_mid>
                <hfov_long>0.349</hfov_long>
                <vfov>0.08286</vfov>
                <samples>${samplePoints}</samples>
                <occlusion>${occlusion}</occlusion>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>${noiseDev}</stddev>
                </noise>
            </plugin>
        </gazebo>

    </xacro:macro>
</robot>
