absl-py==0.7.1
actionlib==1.11.13
alabaster==0.7.12
angles==1.9.11
apturl==0.5.2
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
bleach==3.1.2
bondpy==1.8.3
bqplot==0.11.5
Brlapi==0.6.6
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.17
catkin-pkg==0.4.12
catkin-pkg-modules==0.4.12
certifi==2019.3.9
chardet==3.0.4
command-not-found==0.3
controller-manager==0.15.1
controller-manager-msgs==0.15.1
cryptography==2.3
cupshelpers==1.0
cv-bridge==1.13.0
cycler==0.10.0
Cython==0.29.6
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
distro-info===0.18ubuntu0.18.04.1
docutils==0.14
dynamic-reconfigure==1.6.0
entrypoints==0.3
gast==0.2.2
gazebo-plugins==2.8.4
gazebo-ros==2.8.4
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.8
grpcio==1.19.0
h5py==2.9.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.8
image-geometry==1.13.0
imageio==2.5.0
imagesize==1.1.0
imgaug==0.2.9
interactive-markers==1.11.4
ipykernel==5.1.0
ipyparallel==6.2.3
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonpickle==1.1
jsonschema==3.0.1
jupyros==0.1.2a0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
kdl-parser-py==1.13.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
laser-geometry==1.6.4
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
message-filters==1.14.3
mistune==0.8.4
mock==2.0.0
mpld3==0.3
nbconvert==5.5.0
nbformat==4.4.0
netifaces==0.10.4
networkx==2.3
nose==1.3.7
notebook==5.7.8
numpy==1.16.3
oauth==1.0.1
olefile==0.45.1
opencv-python==4.1.0.25
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pbr==5.1.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.4.0
pygobject==3.26.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.0
pyRFC3339==1.0
pyrsistent==0.15.1
python-apt==1.6.3+ubuntu1
python-dateutil==2.8.0
python-debian==0.1.32
python-qt-binding==0.3.5
pytz==2019.1
PyWavelets==1.0.3
pyxdg==0.26
PyYAML==5.4
pyzmq==18.0.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
qtconsole==4.4.3
reportlab==3.4.0
requests==2.21.0
requests-unixsocket==0.1.5
resource-retriever==1.12.4
roman==2.0.0
rosapi==0.11.0
rosbag==1.14.3
rosboost-cfg==1.14.6
rosbridge-library==0.11.0
rosbridge-server==0.11.0
rosclean==1.14.6
roscreate==1.14.6
rosgraph==1.14.3
roslaunch==1.14.3
roslib==1.14.6
roslint==0.11.2
roslz4==1.14.3
rosmake==1.14.6
rosmaster==1.14.3
rosmsg==1.14.3
rosnode==1.14.3
rosparam==1.14.3
rospkg==1.1.9
rospy==1.14.3
rosservice==1.14.3
rostest==1.14.3
rostopic==1.14.3
rosunit==1.14.6
roswtf==1.14.3
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.10
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.13.3
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
sensor-msgs==1.12.7
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.13.2
six==1.12.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
snowballstemmer==1.2.1
Sphinx==2.0.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.1
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tensorboard==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf==1.12.0
tf-conversions==1.12.0
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.3
tornado==6.0.2
traitlets==4.3.2
traittypes==0.2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urdfdom-py==0.4.0
urllib3==1.24.2
usb-creator==0.3.3
vincenty==0.1.4
virtualenv==15.1.0
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
xacro==1.13.3
xkit==0.0.0
zope.interface==4.3.2
