<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Site.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.0987E-17 -0.025 1"
        rpy="0 0 0" />
      <mass
        value="12480" />
      <inertia
        ixx="29123"
        ixy="3.081E-13"
        ixz="3.2792E-12"
        iyy="45760"
        iyz="-2.5907E-13"
        izz="16643" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Site.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Site.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>